html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #f2e5ff;
}

.title {
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: rgb(23, 179, 241);
    border-top: 4px solid rgb(0, 90, 126);
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 32px;
}

ul button {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-color: bisque;
    border: 4px solid rgb(253, 174, 78);
    border-radius: 9px;
}

button:hover {
    transform: scale(1.1);
}

li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#rock-btn {
    background-image: url(img/rock-svgrepo-com.svg);
}

#paper-btn {
    background-image: url(img/paper-plane-svgrepo-com.svg);
}

#scissors-btn {
    background-image: url(img/scissors-svgrepo-com.svg);
}

.mid-section {
    flex-basis: 200px;
}

.score-and-choice {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center;
    text-align: center;
    width: 480px;
    height: 280px;
    background-color: rgb(23, 179, 241);
    border: 4px solid rgb(0, 90, 126);
    border-radius: 18px;
}

.you-score,
.comp-score {
    text-wrap: auto;
    color: white;
}

#you-chose {
    font-size: 24px;
}

#you-chose-button {
    background-color: bisque;
    border: 4px solid rgb(253, 174, 78);
    border-radius: 9px;
    padding: 8px;
    margin-top: 16px;
}

.footer img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: rotate(360deg) scale(1.2);
}